    /*  Start Main Rulez */
    
    body {
        /* remove latter */
        height: 5000px;
    }
    
    .container {
        width: 1170px;
        margin: auto;
    }
    
    .clearFix {
        clear: both;
    }
    /*  End Main Rulez */
    /*  Start Header */
    
    .header .slider {
        background-image: url('../images/slider.jpg');
        /* only CSS3 Feature */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /* maybe remvoe latter */
        height: 600px;
    }
    
    .header .slider .intro {
        height: 600px;
        padding-top: 200px;
        text-align: center;
        color: #FFF;
    }
    
    .header .slider .intro h1 {
        margin: 0 auto;
        width: 600px;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        padding: 5px 0;
    }
    
    .header .slider .intro button {
        background: none;
        margin-top: 30px;
        font-size: 20px;
        border: 1px solid #fff;
        font-weight: bold;
        padding: 10px 30px;
    }
    
    .header .navbar {
        background: #252F31;
        color: #fff;
        overflow: hidden;
    }
    
    .header .navbar h2 {
        float: left;
    }
    
    .header .navbar h2 span {
        color: #2ecc71;
    }
    
    .header .navbar ul {
        list-style: none;
        padding-left: 0px;
        float: right;
    }
    
    .header .navbar ul li {
        float: left;
        padding: 10px;
    }
    
    .header .navbar ul li a {
        color: #fff;
        text-decoration: none;
    }
    
    .header .navbar ul li.active a,
    .header .navbar ul li a:hover {
        color: #30B576;
    }
    /*  End Header */
    /*  Start Features */
    
    .features {
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 50px;
    }
    
    .features .feat {
        width: 33.333%;
        float: left;
        height: 150px;
    }
    
    .features .feat h2 {
        color: #555;
    }
    
    .features .feat p {
        line-height: 1.6;
        color: #888;
    }
    /*  End Features */
    /*  Start About Me */
    
    .about-me {
        background: #f2f2f2;
        overflow: hidden;
    }
    
    .about-me .image {
        float: left;
        width: 40%;
    }
    
    .about-me .image img {
        width: 100%;
    }
    
    .about-me .info {
        float: left;
        width: 60%;
    }
    
    .about-me .info .hobbies {
        overflow: hidden;
        margin: 20px;
    }
    
    .about-me .info .hobbies>div {
        float: left;
        width: 50%;
        min-height: 100px;
    }
    /*  End About Me */
    /*  Start My Skills */
    
    .my-skills {
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
    }
    
    .my-skills .skills,
    .my-skills .progress {
        float: left;
        width: 50%;
    }
    /*  End My Skills */
    /*  Start Resume */
    
    .resume {
        background: #f2f2f2;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    /*  End Resume */
    /*  Start My Education */
    
    .my-education {
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
    }
    
    .my-education .main,
    .my-education .exp {
        float: left;
        width: 50%;
    }
    /*  End My Education */
    /*  Start Testemonials */
    
    .testemonials {
        background: #f2f2f2;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    /*  End Testemonials */
    /* Start Portfolio  */
    
    .portfolio {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    
    .portfolio .our-work {
        overflow: hidden;
    }
    
    .portfolio .our-work>div {
        float: left;
        width: 33.33333%;
        margin-bottom: 10px;
    }
    
    .portfolio .our-work>div img {
        width: 92%;
        margin: 10px;
    }
    /* End  Portfolio  */
    /* Start  Contact Me */
    
    .contact {
        background: #252f31;
        overflow: hidden;
    }
    
    .contact h2 {
        color: #fff;
    }
    
    .contact p {
        color: #6A6E71;
    }
    
    .contact .info,
    .contact .form {
        width: 50%;
        float: left;
    }
    /* End  Contact Me */
    /* Start Footer(CopyRight) */
    
    .footer {
        background: #191E22;
        color: #6A6E71;
        padding: 20px 0;
        text-align: center;
    }
    /*End Footer(CopyRight) */